#scroll-animate {
  overflow: hidden;
}


#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

header {
  width: 100%;
  height: 500px;
  background-color: rgb(192, 202, 199);
  top: 0;
  position: fixed;
  z-index: -1;
  
}

footer {
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}
footer h1{
  margin-top: 2%;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.content {
  height: 700px;
  min-height: 700px;
  background: #ededed;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #465512;
 
}

h1 {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 2vw;
  color: #fff;
}

body{
  font-family: Helvetica;
}


footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.nombre {
  width: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nombreMio {
  height: 50%;
  margin-top: -5%;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.foto {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.book {
  margin-top: -25%;
  border-radius: 10px;
  width: 300px;
  height: 380px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.memooo {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.Divmemo {
  width: 100%;
  height: 50%;
  margin: 0;
  position: relative;
  display: flex;
}

.textos {
  width: 100%;
  height: 50%;
  margin: 0;
  align-items: center;
  text-align: center;
 
}

.texto {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  color: #000;
  font-size: 11px;
 height: 50%;
 margin: 0;

}
.divImg{
   
  width: 100%;
 height: 70%;
  position: relative;
display: flex;
  align-items: center;
  text-align: center;
  white-space: normal; 
  word-wrap: break-word;
}
.ImgMemo {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  position: absolute;

}

.fotito {
  width: 100%;
  height: 100%;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.container {
  width: 100%;
  height: 50px;
  margin-top: 5%;

}

img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.contentt {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #104d5c;
  margin-left: 25%;
  margin-right: 25%;

}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: -2px;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  20.00%,
  29.32% {
    transform: translate3d(0, -33%, 0);
  }

  40.00%,
  45.98% {
    transform: translate3d(0, -66%, 0);
  }

  60.00%,
  62.64% {
    transform: translate3d(0, -33%, 0);
  }

  80.00%,
  79.3% {
    transform: translate3d(0, -0%, 0);
  }
}

.titulo{
  width: 100%;
  height: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.proyecto {
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.proyectos {
  width: 80%;
  height: 40%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  gap: 10px;

}

.divTexto {
 
  width: 100%;
 height: 30%;
  position: relative;


  align-items: center;
  text-align: center;
  white-space: normal; 
  word-wrap: break-word;
  
}
.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: rgb(183, 226, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  flex: 1 1 calc(25% - 20px);
  text-align: center;
  
}


.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(124, 188, 209);
  transition: all 0.5s;

}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.2s;
  content: attr(data-content);
}

#c1:hover:after {
  content: "PYTHON + REACT + SQLALCHEMY + POSTGRESQL";
}
#c2:hover:after {
  content: "JAVA + HTML + CSS + JAVASCRIPT + POSTGRESQL";
}
#c3:hover:after {
  content: "HTML + CSS + JAVASCRIPT";
}
#c4:hover:after {
  content: "...";
}
a{
  color: #465512;
  text-decoration: none;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-left: 10%;
  margin-top: -3%;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #ff8c8c;

}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.download-button {
  border-width: 0;
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  height: 30px;
  width: 130px;

 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: white;
  height: 20px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
width: 50px;
height:25px;
  margin: auto;
  z-index: -1;
  color: white;
  border-radius: 4px;
  margin-top: 10%;
  transform: translateY(0%);
  background-color: rgb(124, 188, 209);
  border: solid 1px #8ca2cf;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }