/*
  parallax
*/
#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

header {
  width: 100%;
  height: 100px;
  background: rgb(202, 233, 255);
  top: 0;
  position: fixed;
  z-index: -1;
  bottom: 300px;
  line-height: 0px;
}

footer {
  width: 100%;
  height: 300px;
  background: rgb(177, 208, 212);
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content {
  height: 700px;
  min-height: 700px;
  background: rgb(238, 253, 255);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  fin parallax
*/
footer h1 {
  margin-top: 2%;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 2vw;
  color: #fff;
}

body {
  font-family: Helvetica;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.Lucia {
  text-transform: uppercase;
  width: auto;
  height: auto;
  font-size: 2vw;
  color: rgb(27, 73, 101);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.containerInfo {
  width: 100%;
  height: 80%;
}

.nombre {
  width: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.nombreMio {
  height: 80%;
  text-align: left;
  color: rgb(27, 73, 101);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.foto {
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.fotito {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

/* coso giratorio */
.contentt {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  line-height: 40px;
  color: #104d5c;
  margin-left: 10%;
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 10% 2%;
  box-sizing: border-box
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 70px;
  padding: 0 40px;
}


.content__container__text {
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 10px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 63px;
  margin: 0;
  width: 650px;
  height: 30%;
  font-size: 2.8vw;
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* fin coso giratorio*/

.titulo {
  width: 100%;
  height: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.proyecto {
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.proyectos {
  width: 80%;
  height: 40%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  gap: 10px;

}

.divTexto {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;

  flex-direction: column;

}

.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: rgb(202, 233, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  flex: 1 1 calc(25% - 20px);
  text-align: center;

}


.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(177, 208, 212);
  transition: all 0.5s;

}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.2s;
  content: attr(data-content);
}

#c1:hover:after {
  content: "PYTHON + REACT + SQLALCHEMY + POSTGRESQL";
}

#c2:hover:after {
  content: "JAVA + HTML + CSS + JAVASCRIPT + POSTGRESQL";
}

#c3:hover:after {
  content: "HTML + CSS + JAVASCRIPT";
}

#c4:hover:after {
  content: "...";
}

a {
  color: rgb(27, 73, 101);
  text-decoration: none;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 30%;

}

.footerss {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 2%;
  width: 30%;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  color: #ff8c8c;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  color: #ff8c8c;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #ff8c8c;

}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  color: #ffffff;
  background-color: #ff8c8c;
}

.card4:hover .discord {
  fill: white;
}

.download-button {

  border-width: 0;
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  margin-top: 5%;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: white;
  height: 20px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  margin-top: 4%;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: relative;
  inset: 0;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  z-index: -1;
  color: white;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: rgb(124, 188, 209);
  border: solid 1px #8ca2cf;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
  margin-left: 25%;
  margin-top: -35%;
}

.download-button:hover .download {
  transform: translateY(100%)
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

.logo {
  width: 50px;
  height: 50px;
}

.logoB {
  width: 35px;
  height: 35px;
  margin-left: 25%;
  margin-top: 25%;
  fill: rgb(27, 73, 101);
}

.logoB:hover {
  transform: translateY(-3px);
}

.logos {
  width: 100%;
  height: 30%;
}

.button-container {
  display: flex;
  background-color: rgb(150, 175, 201);
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;

}

.button-container:hover {
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}

.buttonn {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}


.buttonn:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.navBar {

  position: relative;

}

.InformacionP {
  height: 80%;
  width: 50%;
  text-align: left;
  color: rgb(12, 33, 46);
  line-height: 30px;
  margin-left: 20%;
  margin-top: 10%;
  font-weight: bold;
}

.carddd {
  width: 300px;
  height: 375px;
  margin-top: 10%;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.montserrat {
  font-family: 'Poppins', sans-serif;
}

.more-buttons {
  position: absolute;
  top: 90%;
  left: 95%;
  background-color: rgb(150, 175, 201);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  opacity: 1;
  height: 250px;
  width: 80px;
  align-items: center;
  justify-content: center;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.more-buttons .button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.more-buttons .button:hover {
  background-color: #f0f0f0;
}

.more-buttons.show {
  max-height: 500px;
  opacity: 1;
}

.sgvs {
  fill: rgb(27, 73, 101);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1136px) {

  .carddd {
    width: 280px;
    height: 370px;
    margin-top: 15%;
  }

  .card {
    position: relative;
    width: 200px;
    height: 300px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 927px) {

  .carddd {
    width: 250px;
    height: 325px;
    margin-top: 20%;
  }

  .card {
    width: 150px;
    height: 250px;
    font-size: 12px;

  }

}

@media only screen and (max-width: 695px) {

  .carddd {
    width: 200px;
    height: 300px;
    margin-top: 20%;
  }

  .card {
    width: 130px;
    height: 230px;
    font-size: 10px;

  }
}

@media only screen and (max-width: 556px) {

  .carddd {
    width: 150px;
    height: 200px;
    margin-top: 50%;
  }

  .nombre {
    width: 70%;
  }

  .foto {
    width: 30%;
  }

  .card {
    width: 100px;
    height: 200px;
    font-size: 10px;
  }

  .Lucia {
    font-size: 15px;
    margin-left: 0px;
  }

  .content__container__list {
    margin-left: -5%;
  }

  .download {
    display: none;
  }

  .download-button {
    height: 30px;
    width: 50px;
  }

  .download-button .docs {
    width: 15px;
    height: 23px;
    font-size: 10px;
    gap: 3px;
  }

  .content {
    height: 200px;
  }

  .sgvs {
    height: 20px;
    width: 20px;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    width: 60px;
    height: 60px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  footer {
    height: 200px;
  }
  .proyectos{
    margin-top: -20%;
  }


}
@media only screen and (max-width: 927px) {

  .carddd {
    width: 250px;
    height: 325px;
    margin-top: 20%;
  }

  .card {
    width: 150px;
    height: 250px;
    font-size: 12px;

  }

}

@media only screen and (max-width: 695px) {

  .carddd {
    width: 200px;
    height: 300px;
    margin-top: 20%;
  }

  .card {
    width: 130px;
    height: 230px;
    font-size: 10px;

  }
}

@media only screen and (max-width: 463px) {

  .carddd {
    width: 120px;
    height: 180px;
    margin-top: 50%;
  }

  .Lucia {
    font-size: 12px;
    margin-left: -5%;
  }

  .nombre {
    width: 70%;
  }

  .foto {
    width: 30%;
  }

  .card {
    width: 80px;
    height: 180px;
    font-size: 10px;
  }

  .content__container__list {
    margin-left: -5%;
  }

  .download {
    display: none;
  }

  .download-button {
    height: 30px;
    width: 50px;
  }

  .download-button .docs {
    width: 15px;
    height: 23px;
    font-size: 10px;
    gap: 3px;
  }

  .content {
    height: 200px;
  }

  .sgvs {
    height: 20px;
    width: 20px;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    width: 60px;
    height: 60px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  footer {
    height: 200px;
  }
  .proyectos{
    margin-top: -20%;
  }


}
@media only screen and (max-width: 347px) {

  .carddd {
    width: 100px;
    height: 150px;
    margin-top: 20%;
  }

  .Lucia {
    font-size: 10px;
    margin-left: 3%;
  }
  .InformacionP{
    font-size: 10px;
  }
  .card {
    width: 60px;
    height: 90px;
    font-size: 10px;
  }

  .content__container__list {
    margin-left: -20%;
  }

  .download {
    display: none;
  }

  .download-button {
    height: 20px;
    width: -120px;
  }

  .download-button .docs {
    width: -120px;
    height: 10px;
    font-size: 5px;
    gap: 0px;
    margin-left: 0%;
  }

  .sgvs {
    height: 15px;
    width:15px;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    width: 50px;
    height: 50px;
  }
  .whatsapp, .linkedin, .discord, .github{
    height: 15px;
    width:15px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  footer {
    height: 200px;
  }
  .proyectos{
    margin-top: -20%;
  }


}
